
body {
    background-color: #fffbf7;
    margin: 0ch;
  }

  .clsBannerSup{
    
    align-items:flex-start;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(132, 138, 141);
    padding-bottom: 20px;
    height:110px;
    margin-bottom: 10px;
    align-items: flex-start;
  }

  .Figheaderlogo{
       padding-left: 0px; 
       display:inline-block;
  
  }
  .busqueda{
     background-color: white;
     margin-bottom: 10px;
     border-style: unset;

  }
  
 .Clsimgheader{
  width: 100%;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
      
 }

  .blocks{
    display: table-row;

     
  }

  
  .p_footer{
    text-align: center;
    color: #6E6E6E;
    font-size: 13px;
    font-family: 'Proxima Nova';
    text-align: center;
  }

.ClsFooter{
    
    margin-top: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(132, 138, 141);
 
 }

 .clsAsideOpcion{
   border-radius: 10px;
   border-style: solid;
   border-color: lightgray;
   background-color: rgb(255, 255, 255);
   padding-bottom: 40px;
   padding-left: 20px;
   margin: 10px 10px;
   margin-left: 10px;
   text-align: center;

 }

 .clsAsideOpcion:hover{
   background-color: rgb(0, 162, 255);
   color: white;
 
 }


 .ClsSectionDiv{
 align-content: flex-end;
 padding: 10px 10px;
 background-repeat: no-repeat;
 background-image: url("./imagenes/empresario-apuntando-su-presentacion-pantalla-digital-futurista_53876-102617.jpg");
 height: 500px; 
 width: 900px;

}

.ClsTablaconenido{
 margin-top: 30px; 
 padding: 10px 10px;
 background-color: rgb(226, 241, 250);
}


 .clsdivcuerpo{
  background-color: white;
  padding-top: 10px;   
}


.clsPrimeropc{
  width: auto;
  height: auto;
  background-image: "imagenes/empresario-apuntando-su-presentacion-pantalla-digital-futurista_53876-102617.jpg";
}

.btn{
  margin-top: 10px;
 
}

.clsinput{
  width: 500px;

}

.clstarjeta{
  margin-bottom: 10px;
  margin-top: 10px;
}

.clsbuscar{
  background-color: rgba(0, 0, 0, 0.459);
  padding-top: 7px;
  margin-top: 100px;
  margin-bottom: 10px;
}